* {
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

header {
    margin: 0 auto;
    height: 85px;
    width: 75%;
    margin-top: 50px;
    background-color: rebeccapurple;
}

header > h1 {
text-align: center;
color: #fff;
padding: 20px;
height: 85px;
}

p.authors {
    color: #a3a3a3;
    text-align: center;
}

div#main{
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;

}

div.options {
    width: 35%;
    background-color: rgba(102,51,153,0.5);
    padding: 8px;
    margin-bottom: 30px;
}


div.options h3{
    color: rebeccapurple;
    text-align: center;
}

div.options > ul {
    padding: 0;
    margin: 0 auto;
}
div.options > ul li{
    list-style-type: none;
    display: inline-block;
    color: #f3f3f3;
}

div.options > ul > li{
    margin-left: 20px;
}

div.options > ul li > p {
    text-align: center;
}

div#map{
    position: relative;
    min-width: 75%;
    margin: 0 auto;
    display: inline-block;
}

div[class^="case"]{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -3.6px;
}

div.case-spawn{
    background-color: rgb(106, 146, 106);
}

div.case-obstacle{
    background-color: rgb(46, 46, 46);
}


div.case-food{
    background-color: brown;
}

div.case-empty{
    background-color: rgb(235, 235, 235);
}

span{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(0, 140, 255);
}

.plot {
    /* visibility: hidden; */
    background-color: rgb(53, 46, 11);
}