* {
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    margin: 0 auto;
    height: 85px;
    width: 100%;
    margin-top: 50px;
    background-color: rebeccapurple;
}

header  h1 {
text-align: center;
color: #fff;
height: 85px;
}

div.logo{
    height: 85px;
    width: 85px;
    background-image: url("antlogo.png");
    background-size: cover;
    background-position: center;
}

p.authors {
    color: #a3a3a3;
    text-align: center;
    height: 85px;
}

div#main{
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;

}

div.options {
    width: 35%;
    background-color: rgba(102,51,153,0.5);
    padding: 8px;
    margin-bottom: 30px;
}


div.options h3{
    color: rebeccapurple;
    text-align: center;
}

div.options > ul {
    padding: 0;
    margin: 0 auto;
}
div.options > ul li{
    list-style-type: none;
    display: inline-block;
    color: #f3f3f3;
}

div.options > ul > li{
    margin-left: 20px;
}

div.options > ul li > p {
    text-align: center;
}

div#map{
    position: relative;
    min-width: 75%;
    margin: 0 auto;
    display: inline-block;
}

div[class^="case"]{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -3.6px;
}

div.case-spawn{
    background: #78533C;
    background-image: url("anthill.png");
    background-position:  top;
    background-size: cover;
}

div.case-obstacle{
    background: #78533C;
    background-image: url("bush.png");
    background-position:  top;
    background-size: cover;
}


div.case-food{
    background: #78533C;
    background-image: url("mango.png");
    background-position: center;
    background-size: cover;
}

div.case-empty{
    background-image: url("sand.png");
}

span{
    position: absolute;
    width: 7px;
    height: 7px;
    background-image: url("ant.png");
    background-color: black;
    background-position: center;
    background-size: cover;
}

.plot {
    visibility: hidden;
    background-color: rgb(53, 46, 11);
}
button#reload:focus, button#start:focus{
    outline: 0;
}

button#reload:hover, button#start:hover{
    cursor: pointer;
}

button#reload{
    border: none;
    padding: 8px;
    color: #fff;
    background-color: rebeccapurple;
    font-weight: bolder;
    border-radius: 4px;
}

button#start{
    border: none;
    padding: 8px;
    color: #fff;
    background-color: green;
    font-weight: bolder;
    border-radius: 4px;
}



